html, body {
  padding: 0px;
  font-family: sans-serif;
  background-color: #38618a;
  color: white;
}
body {
  /* display: none; */
}
.container {
  height: 100%;
  width: 100%;
  padding: 0px;
}

.block {
  border: 1px solid #222;
  padding: 5px;
}
.b1 {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 60px;
  border: 1px solid #222;
  height: 200px;
}

#editor-output, #editor-active {
  display: block;
  height: 200px;
  width: 100%;
  resize: none;
  padding: 4px;
  margin: 0;
  border :none;
  font-size:16px;
}

#editor-output {
  overflow: hidden;
}
#editor-active {
  overflow: scroll;
  white-space: pre;
  transform: translateY(-100%);
  background-color: transparent;
  color: transparent;
  caret-color: #fff;
}