*[class^="cf"] {
  display: flex;
  resize: both;
  color: #fff;
  font-family: Consolas, "Courier New", monospace;
  line-height: normal;
  outline: none;
  font-size: 16px;
  background-color: #101515;
  white-space: pre;
  justify-content: flex-start;
  padding: 8px;
  resize: none;
  overflow: auto;
}
.code-cf {
  display: block;
  background-color: #101515;
  position: relative;
  padding-left: 2px;
  tab-size: 4;
  width: min-content;
  resize: none;
}
.numberRow-cf {
  padding-right: 10px;
  padding-left: 0;
  text-align: right;
  width: min-content;
  border-right: 1px solid #666;
  color: #858585;
}

.code-cf .string,
.code-cf .value {
  color: #23d349;
}
.code-cf .keyword {
  color: #c678dd;
}
.code-cf .comment {
  color: #8b949e;
}
.code-cf .operator {
  color: #1598a7;
}
.code-cf .number {
  color: #ffa601;
}
.code-cf .method {
  color: #44c4f8;
}
.code-cf .argument {
  text-decoration: underline;
}
.code-cf .regex {
  color: #f7aa67;
}
.code-cf .builtIn {
  color: #5db0d7;
  font-style: italic;
}
.code-cf .objprop {
  color: #e9e482;
}

.code-cf .tag {
  color: #f12e58;
}
.code-cf .attribute {
  color: orange;
}
.code-cf .html-pecial {
  color: #8370f4;
}
